/* navigation */


/* html,
body,
header{
height: 100%;
} */

/* navigation */


@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #F2A900!important;
  }
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,body,
html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,
.top-nav-collapse{background-color:#F2A900}@media only screen and (max-width:768px){.navbar{background-color:#F2A900}}

.btn-pubg{
  background-color: #F2A900!important;
}
